{{#if success}}
<div class="p-2">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{!-- <strong>Holy guacamole!</strong> --}}
        {{success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}

{{#if warning}}
<div class="p-2">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{!-- <strong>Holy guacamole!</strong> --}}
        {{warning}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}