<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYCARS</title>

    {{!-- {{>header}} --}}
    {{>nomina/header}}
</head>

<body>
    {{> nav }}
    {{{ body }}}
    {{>footer}}
    {{!-- <script src="/js/funciones.js" charset="utf-8"></script> --}}
    <script src="/js/app_nom.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>

</body>

</html>