<!doctype html>
<html lang="en"> 
<head>
    <style>
        .container_load, .container-fluid {
            background-color: black;
        }
        .sidebar {
            overflow: auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid " id="dta-Serv" data="">

        <div class="row">

            <main class="ms-sm-auto col-lg-12 ">

                <div class="row p-2" id="container_load">
                  <div id="cont_video">
                    <video id="video" src="{{recurso}}" width="100%" height="100%" controls autoplay>
                      <p>Tu navegador no soporta HTML5 video. Aquí está el <a href="#">enlace del video</a>.</p>
                    </video>
                  </div>
                </div>
            
            </main>

        </div>
    </div>
    </div>
</body>

<script>

</script>

</html>